<div class="container">
  <div class="row">
    <select class="col-md-6 form-control" #select (change)='onSelected(select.value)' [value]=''>
      <option class="option" *ngFor='let option of dropDown' [value]='option.val'>{{option.text_val}}</option>
    </select>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Filter</span>
      </div>
      <input type="text" #search (keyup)='triggerSearch(search.value)' class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Enter player name.">
    </div>
    <button class="float-right col-md-2 btn btn-success" (click)="export();"><i class="glyphicon glyphicon-download-alt"></i>Export</button>
  </div> 
</div>
<div class="container">
  <table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Stat ID</td>
            <td>Player Name</td>
            <td>Team</td>
            <td>Position</td>
            <td>Att</td>
            <td>Att/G</td>
            <td>Yds</td>
            <td>Avg</td>
            <td>Yds/G</td>
            <td>TD</td>
            <td>Lng</td>
            <td>1st</td>
            <td>1st%</td>
            <td>20+</td>
            <td>40+</td>
            <td>FUM</td>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stat of stats$ | async">
          <td>{{stat.id}}</td>
          <td>{{stat.player}}</td>
          <td>{{stat.team}}</td>
          <td>{{stat.pos}}</td>
          <td>{{stat.att}}</td>
          <td>{{stat.att_g}}</td>
          <td>{{stat.yds}}</td>
          <td>{{stat.avg}}</td>
          <td>{{stat.yds_g}}</td>
          <td>{{stat.td}}</td>
          <td>{{stat.lng}}</td>
          <td>{{stat.first}}</td>
          <td>{{stat.first_percentage}}</td>
          <td>{{stat.twenty_plus}}</td>
          <td>{{stat.forty_plus}}</td>
          <td>{{stat.fum}}</td>
      </tr>
    </tbody>
  </table>
</div>